#textArea {
  color: blue;
  font-size: 2em;
  border: 2px solid black;
}

.remove-scrollbar {
  overflow: hidden;
}

.no-resize {
  resize: none;
}

.allow-resize {
  resize: vertical;
}

.add-scrollbar {
  overflow-y: scroll;
}

input {
  display: inline-block;
  width: 50px;;
}